<div class="wrapper">

<div>
<h1>Quotes</h1>
<hr width=30%>
</div>
<div class="container" id="main">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-6 col-lg-6 form">
        <div class="container">
          <div class="row">
            <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-6">
        <div class="container">
          <div class="row" *ngFor="let quote of quotes;let i = 'index'">
              <div >
                  <p id="quotedescription" id="{{i}}">{{quote.description}}</p>
                  <p id="author">~ Author is {{quote.author}} | Submitted {{quote.completeDate|dateCount}} days ago</p>

                  <div class="moredetails">
                    <button class="btn btn-primary" (click)='toggleDetails(i)'>View More</button>
                  </div>
              </div>

              <div class="row" *ngIf="quote.showDescription">
              <app-quote-details  [quote]='quote' (isComplete)= 'deleteQuote($event,i)'></app-quote-details>
            </div>
          </div>
        </div>



      </div>

    </div>
  </div>

</div>

</div>
